/* .login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;  
}


.login__input {
    margin: auto;
}

.login__btn {
    text-align: center;
    color: #333;
    font-size: 20px;
} */

.login__container {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    margin: 5vw;
}