<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <!-- 등록 버튼을 누르면 action url로  post 방식으로 넘어옴 -->
    <form action="/members/new" method="post">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" id="id" name="id" placeholder="ID를 입력하세요">
            <label for="password">PW</label>
            <input type="text" id="password" name="password" placeholder="PW를 입력하세요">
        </div>
        <button type="submit">등록</button>
    </form>
</div> <!-- /container -->
</body>
</html>